#filtreUtilisateurs {
  margin-top: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 0px 2px black;
  border-radius: 0.5rem;
}

#filtreUtilisateurs .btn {
  border-color: #1abc9c;
}

#filtreUtilisateurs .btn:hover {
  background-color: #1abc9c;
  color: white;
}

#filtreUtilisateurs .btn.active {
  background-color: #1abc9c;
  color: white;
}

.suppressUser {
  color: red;
}
