@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1abc9c;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  padding-top: 4.6em;
  position: fixed;
  width: 130px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #2c3e50;
  color: #fff;
  transition: all 0.3s;
}

@media (min-width: 992px) {
  #sidebar {
    padding-top: 6.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
}

.sidebar-shrink {
  padding-top: 4.6em !important;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #1abc9c;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1abc9c;
}

#adminContent {
  margin-left: 130px;
}

#tableauAdmin {
  margin-left: 1em;
  max-width: 91vw;
}
