.headerPost {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.postPreview {
  margin-bottom: 1rem;
}

.suppressPost, .modifyPost, .confirmModificationPost {
  position: absolute;
  z-index: 1;
  top: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  opacity: 1;
  padding: 0;
  background-color: transparent;
  border: 0;
}

.suppressPost {
  left: 1.5rem;
  color: red;
}

.modifyPost {
  left: 4.5rem;
  color: #2c3e50;
}

.confirmModificationPost {
  display: none;
  left: 4.5rem;
  color: #1abc9c;
}

.modifyPostForm {
  display: none;
}

.postCommentaires .commentaire {
  margin-top: 7%;
}

.addComment textarea {
  padding: 10px;
  border: 0.125rem solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
}
