{% extends 'adminLayout.twig' %}

{% block head %}
    <title>Admin - Utilisateurs</title>
    <link href="css/adminLayout.css" rel="stylesheet" />
    <link href="css/adminPosts.css" rel="stylesheet" />
{% endblock %}

{% block adminContent %}
    <section id="affichagePostsAdmin">
        <table class="table" class="tableauAdmin">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Auteur</th>
                <th scope="col">Titre</th>
                <th scope="col">Chapo</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr class="tableauPostLigne" data-idpost="{{ post.id }}">
                    <th scope="row">{{ post.id }}</th>
                    <td>{{ post.utilisateur.nom }} {{ post.utilisateur.prenom }}</td>
                    <td>{{ post.titre }}</td>
                    <td>{{ post.chapo }}</td>
                    <td>{{ post.contenu }}</td>
                    <td>{{ post.datePublication }}</td>
                    <td>
                        <button class="btn validPost colorGreen" title="Valider"><span class="fas fa-check"></span></button>
                        <button class="btn suppressPost colorRed" title="Supprimer"><span class="fas fa-trash"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block scripts %}
    <script src="js/admin.js"></script>
    <script src="js/adminPosts.js"></script>
{% endblock %}
