{% extends 'adminLayout.twig' %}

{% block head %}
    <title>Admin - Utilisateurs</title>
    <link href="css/adminLayout.css" rel="stylesheet" />
    <link href="css/adminUsers.css" rel="stylesheet" />
{% endblock %}

{% block adminContent %}
    <section id="filtreUtilisateurs" class="btn-group float-right" role="group" aria-label="Filtres utilisateurs">
        <button type="button" class="btn active" data-type="tous">Tous</button>
        <button type="button" class="btn" data-idrole="4">Administrateur principal</button>
        <button type="button" class="btn" data-idrole="1">Administrateurs</button>
        <button type="button" class="btn" data-idrole="2">Modérateurs</button>
        <button type="button" class="btn" data-idrole="3">Membres</button>
    </section>
    <section id="affichageUtilisateursAdmin">
        <table class="table" class="tableauAdmin">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Pseudo</th>
                <th scope="col">Mail</th>
                <th scope="col">Rôle</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in utilisateurs %}
                <tr class="tableauUtilisateurLigne" data-iduser="{{ user.id }}" data-idrole="{{ user.role.id }}">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>{{ user.mail }}</td>
                    <td>
                        {% if (user.role.nom == 'admin_principal' or user.role.nom == 'admin') and utilisateur.role.nom != 'admin_principal' or utilisateur.id == user.id %}
                            {{ user.role.nom }}
                        {% else %}
                            <select class="selectRoleUtilisateur" class="form-select" aria-label="Roles">
                                {% for role in roles %}
                                    {% if not (utilisateur.role.nom == 'admin' and role.nom == 'admin') %}
                                        <option value="{{ role.id }}" {% if role.nom == user.role.nom %}selected{% endif %}>{{ role.nom }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% endif %}
                    </td>
                    <td>
                        {% if utilisateur.id != user.id and (user.role.nom != 'admin_principal' and (user.role.nom != 'admin' or utilisateur.role.nom == 'admin_principal')) %}
                            <button class="btn suppressUser" title="Supprimer"><span class="fas fa-trash"></span></button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block scripts %}
    <script src="js/admin.js"></script>
    <script src="js/adminUsers.js"></script>
{% endblock %}
