{% extends 'adminLayout.twig' %}

{% block head %}
    <title>Admin - Utilisateurs</title>
    <link href="css/adminLayout.css" rel="stylesheet" />
{% endblock %}

{% block adminContent %}
    <section id="affichageCommentsAdmin">
        <table class="table" class="tableauAdmin">
            <thead>
            <tr>
                <th scope="col">Identifiant</th>
                <th scope="col">Article</th>
                <th scope="col">Auteur</th>
                <th scope="col">Contenu</th>
                <th scope="col">Date</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr class="tableauPostLigne" data-idcomment="{{ comment.id }}">
                    <th scope="row">{{ comment.id }}</th>
                    <td>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#detailsPostComment{{ comment.post.id }}">Voir</a>
                    </td>
                    <td>{{ comment.auteur.nom }} {{ comment.auteur.prenom }}</td>
                    <td>{{ comment.contenu }}</td>
                    <td>{{ comment.datePublication }}</td>
                    <td>
                        <button class="btn validComment colorGreen" title="Valider"><span class="fas fa-check"></span></button>
                        <button class="btn suppressComment colorRed" title="Supprimer"><span class="fas fa-trash"></span></button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

    <!-- Post modals -->
    {% for comment in comments %}
        <div class="portfolio-modal modal fade modalPost" id="detailsPostComment{{ comment.post.id }}" tabindex="-1" role="dialog" aria-labelledby="postLabel{{ comment.post.id }}" aria-hidden="true" data-id-post="{{ comment.post.id }}">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <section class="postDetails">
                                        <!-- Post details - Title-->
                                        <h2 class="connect-modal-title text-secondary text-uppercase mb-0" id="postCommentLabel{{ comment.post.id }}">{{ comment.post.titre }}</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Post details - Content -->
                                        {% if comment.post.datePublication != comment.post.dateMaj %}
                                            <h6 class="card-subtitle mb-2 text-muted">Modifié le: {{ comment.post.dateMaj|date("d/m/Y \\à H\\hi") }}</h6>
                                        {% else %}
                                            <h6 class="card-subtitle mb-2 text-muted">Publié le: {{ comment.post.datePublication|date("d/m/Y \\à H\\hi") }}</h6>
                                        {% endif %}
                                        <p>{{ comment.post.chapo }}</p>
                                        <p>{{ comment.post.contenu }}</p>
                                        {% if comment.post.utilisateur.id %}
                                            <h6 class="card-subtitle mb-2 text-muted">Publié par {{ comment.post.utilisateur.prenom }} {{ comment.post.utilisateur.nom }}</h6>
                                        {% endif %}
                                    </section>
                                    <!-- Comments display -->
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <section class="postCommentaires">
                                        {% for commentaire in comment.post.commentaires %}
                                            <div class="commentaire">
                                                <h6 class="card-subtitle mb-2 text-muted pull-left">Publié le: {{ commentaire.datePublication|date("d/m/Y \\à H\\hi") }} par {{ commentaire.auteur.prenom }} {{ commentaire.auteur.nom }}</h6>
                                                <p>{{ commentaire.contenu }}</p>
                                            </div>
                                        {% endfor %}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="js/admin.js"></script>
    <script src="js/adminComments.js"></script>
{% endblock %}
