{% extends 'layout.twig' %}

{% block content %}
    <div class="wraper">
        <div id="sidebar">
            <ul class="list-unstyled components">
                <li class="{{ currentPage('adminUsers') }}">
                    <a href="/adminUsers">Utilisateurs</a>
                </li>
                <li class="{{ currentPage('adminPosts') }}">
                    <a href="/adminPosts">Articles</a>
                </li>
                <li class="{{ currentPage('adminComments') }}">
                    <a href="/adminComments">Commentaires</a>
                </li>
            </ul>
        </div>

        <div id="adminContent">
            {% block adminContent %}{% endblock %}
        </div>
    </div>
{% endblock %}
