{% extends 'layout.twig' %}

{% block head %}
    <title>Blog</title>
    <link href="css/blog.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% if utilisateur %}
        <header class="headerPost bg-primary">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <div data-toggle="modal" data-target="#createPost">
                    <button class="btn btn-xl btn-outline-light">
                        <i class="fas fa-plus-square mr-2"></i>
                        Créer un article
                    </button>
                </div>
            </div>
        </header>
    {% endif %}
    <!-- Add post section -->
    <!-- Posts section -->
    <section class="page-section mb-0" id="posts">
        <div class="container">
            {% for post in posts %}
                <div class="card postPreview">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.titre }}</h5>
                        {% if post.datePublication != post.dateMaj %}
                            <h6 class="card-subtitle mb-2 text-muted">Modifié le: {{ post.dateMaj|date("d/m/Y \\à H\\hi") }}</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-2 text-muted">Publié le: {{ post.datePublication|date("d/m/Y \\à H\\hi") }}</h6>
                        {% endif %}
                        <p class="card-text">{{ post.chapo }}</p>
                        <a class="btn btn-primary" data-toggle="modal" data-target="#detailsPost{{ post.id }}">Voir plus..</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <!-- Modals -->
    {% if utilisateur %}
        <!-- Create post modal -->
        <div class="portfolio-modal modal fade" id="createPost" tabindex="-1" role="dialog" aria-labelledby="createPostLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Connexion - Title-->
                                    <h2 class="connect-modal-title text-secondary text-uppercase mb-0" id="createPostLabel">Créer un article</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    <!-- Create post - Form-->
                                    <form id="createPostForm" name="createPostForm" novalidate="novalidate">
                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label>Titre</label>
                                                <input class="form-control" id="titrePost" type="text" placeholder="Titre" required="required" data-validation-required-message="Veuillez saisir un titre." maxlength="60" minlength="20" data-validation-minlength-message="Le titre doit faire au moins 20 caractères."/>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label>Châpo</label>
                                                <textarea class="form-control" id="chapoPost" placeholder="Châpo" required="required" data-validation-required-message="Veuillez saisir un châpo." rows="3" minlength="50" data-validation-minlength-message="Le chapo doit faire au moins 50 caractères."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <div class="control-group">
                                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                <label>Contenu</label>
                                                <textarea class="form-control" id="contenuPost" placeholder="Contenu" required="required" data-validation-required-message="Veuillez saisir un contenu." rows="6" minlength="100" data-validation-minlength-message="Le contenu doit faire au moins 100 caractères."></textarea>
                                                <p class="help-block text-danger"></p>
                                            </div>
                                        </div>
                                        <br />
                                        <div id="createPostSuccess"></div>
                                        <div class="form-group"><button class="btn btn-primary btn-xl" id="createPostButton" type="submit">Soumettre</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- Posts modal details -->
    {% for post in posts %}
        <div class="portfolio-modal modal fade modalPost" id="detailsPost{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="postLabel{{ post.id }}" aria-hidden="true" data-id-post="{{ post.id }}">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                        {% for droit in utilisateur.droits %}
                            {% if droit.nom == 'modifier_post' %}
                                <button class="suppressPost" type="button" aria-label="Supprimer">
                                    <span aria-hidden="true"><i class="fas fa-trash"></i></span>
                                </button>
                                <button class="modifyPost" type="button" aria-label="Modifier">
                                    <span aria-hidden="true"><i class="fas fa-pen"></i></span>
                                </button>
                                <button class="confirmModificationPost" type="button" aria-label="Confirmer">
                                    <span aria-hidden="true"><i class="fas fa-check"></i></span>
                                </button>
                            {% endif %}
                        {% endfor %}
                    <button class="close" type="button" data-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                    <div class="modal-body text-center">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <section class="postDetails">
                                        <!-- Post details - Title-->
                                        <h2 class="connect-modal-title text-secondary text-uppercase mb-0" id="postLabel{{ post.id }}">{{ post.titre }}</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Post details - Content -->
                                        {% if post.datePublication != post.dateMaj %}
                                            <h6 class="card-subtitle mb-2 text-muted">Modifié le: {{ post.dateMaj|date("d/m/Y \\à H\\hi") }}</h6>
                                        {% else %}
                                            <h6 class="card-subtitle mb-2 text-muted">Publié le: {{ post.datePublication|date("d/m/Y \\à H\\hi") }}</h6>
                                        {% endif %}
                                        <p>{{ post.chapo }}</p>
                                        <p>{{ post.contenu }}</p>
                                        {% if post.utilisateur.id %}
                                            <h6 class="card-subtitle mb-2 text-muted">Publié par {{ post.utilisateur.prenom }} {{ post.utilisateur.nom }}</h6>
                                        {% endif %}
                                    </section>
                                    <!-- Post modify - Form -->
                                    {% for droit in utilisateur.droits %}
                                        {% if droit.nom == 'modifier_post' %}
                                            <form class="modifyPostForm" name="modifyPostForm" novalidate="novalidate">
                                                <div class="control-group">
                                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                        <label>Titre</label>
                                                        <input value="{{ post.titre }}" class="form-control modifyTitrePost" type="text" placeholder="Titre" required="required" data-validation-required-message="Veuillez saisir un titre." maxlength="60" minlength="20" data-validation-minlength-message="Le titre doit faire au moins 20 caractères."/>
                                                        <p class="help-block text-danger"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                        <label>Châpo</label>
                                                        <textarea class="form-control modifyChapoPost" placeholder="Châpo" required="required" data-validation-required-message="Veuillez saisir un châpo." rows="3" minlength="50" data-validation-minlength-message="Le chapo doit faire au moins 50 caractères.">{{ post.chapo }}</textarea>
                                                        <p class="help-block text-danger"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                        <label>Contenu</label>
                                                        <textarea class="form-control modifyContenuPost" placeholder="Contenu" required="required" data-validation-required-message="Veuillez saisir un contenu." rows="6" minlength="100" data-validation-minlength-message="Le contenu doit faire au moins 100 caractères.">{{ post.contenu }}</textarea>
                                                        <p class="help-block text-danger"></p>
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                        <label for="testA">Auteur</label>
                                                        <select class="form-control modifyAuteurPost" id="testA" required="required">
                                                            {% for user in utilisateurs %}
                                                                <option {% if user.id == post.utilisateur.id %} selected {% endif %} value="{{ user.id }}">{{ user.prenom }} {{ user.nom }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    {% endfor %}
                                    <p id="divErrorPost{{ post.id }}" class="help-block text-danger"></p>
                                    <!-- Comment form -->
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>
                                    {% if utilisateur.id %}
                                        <form class="addComment" name="addCommentForm" novalidate="novalidate">
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Commentaire</label>
                                                    <textarea
                                                            class="form-control contenuComment"
                                                            placeholder="Commentaire"
                                                            required="required"
                                                            data-validation-required-message="Veuillez saisir un commentaire."
                                                            rows="3"
                                                            minlength="20"
                                                            data-validation-minlength-message="Le commentaire doit faire au moins 20 caractères."></textarea>
                                                </div>
                                            </div>
                                            <br/>
                                            <div class="form-group"><button class="btn btn-primary btn-xl addCommentButton" type="submit">Soumettre</button></div>
                                        </form>
                                        <p id="divSuccessAddComment{{ post.id }}" class="help-block text-success"></p>
                                        <p id="divErrorAddComment{{ post.id }}" class="help-block text-danger"></p>
                                    {% endif %}
                                    <!-- Comments display -->
                                    <section class="postCommentaires">
                                        {% for commentaire in post.commentaires %}
                                            <div class="commentaire" data-idcommentaire="{{ commentaire.id }}">
                                                {% for droit in utilisateur.droits %}
                                                    {% if droit.nom == 'modifier_post' %}
                                                        <button class="btn suppressComment colorRed float-right" title="Supprimer"><span class="fas fa-trash"></span></button>
                                                    {% endif %}
                                                {% endfor %}
                                                <h6 class="card-subtitle mb-2 text-muted pull-left">Publié le: {{ commentaire.datePublication|date("d/m/Y \\à H\\hi") }} par {{ commentaire.auteur.prenom }} {{ commentaire.auteur.nom }}</h6>
                                                <p>{{ commentaire.contenu }}</p>
                                            </div>
                                        {% endfor %}
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block scripts %}
    <script src="js/blog.js"></script>
{% endblock %}
