<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />

        {% block head %}{% endblock %}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand">Charly Printanier</a>
                <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {{ currentPage('home') }}" href="/home">Accueil</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded {{ currentPage('blog') }}" href="/blog">Blog</a></li>
                        {% if utilisateur %}
                            <li id="disconnectButton" class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="">Déconnexion</a></li>
                        {% else %}
                            <li class="nav-item mx-0 mx-lg-1" data-toggle="modal" data-target="#connexion"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Connexion</a></li>
                            <li class="nav-item mx-0 mx-lg-1" data-toggle="modal" data-target="#inscription"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Inscription</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <section id="pageContent">
            {% block content %}{% endblock %}
        </section>
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                    </div>
                    <!-- Footer Social Icons-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Mes réseaux</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/charly-printanier-199258147/"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://gitlab.com/users/Isoware/projects"><i class="fab fa-fw fa-gitlab"></i></a>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
            </div>
        </footer>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white">
            <div class="container"><small>Copyright © Charly Printanier 2021</small></div>
            {% for droit in utilisateur.droits %}
                {% if droit.nom == 'administrateur' %}
                    <a href="/adminUsers">Administration</a>
                {% endif %}
            {% endfor %}
        </div>
        <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
        <div class="scroll-to-top d-lg-none position-fixed">
            <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a>
        </div>

        <!-- Modals -->
        {% if not utilisateur %}
            <!-- Connexion Modal -->
            <div class="portfolio-modal modal fade" id="connexion" tabindex="-1" role="dialog" aria-labelledby="connexionLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Connexion - Title-->
                                        <h2 class="connect-modal-title text-secondary text-uppercase mb-0" id="connexionLabel">Connexion</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Connexion - Form-->
                                        <form id="connectForm" name="connectForm" novalidate="novalidate">
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Adresse mail</label>
                                                    <input class="form-control" id="emailConnect" type="email" placeholder="Adresse mail" required="required" data-validation-required-message="Veuillez renseigner votre adresse mail." data-validation-email-message="L'adresse mail n'est pas valide."/>
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Mot de passe</label>
                                                    <input class="form-control" id="password" type="password" placeholder="Mot de passe" required="required" data-validation-required-message="Veuillez renseigner votre mot de passe." />
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <br />
                                            <div id="connectError"></div>
                                            <div class="form-group"><button class="btn btn-primary btn-xl" id="connectButton" type="submit">Connexion</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inscription Modal -->
            <div class="portfolio-modal modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="inscriptionLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><i class="fas fa-times"></i></span>
                        </button>
                        <div class="modal-body text-center">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8">
                                        <!-- Connexion - Title-->
                                        <h2 class="connect-modal-title text-secondary text-uppercase mb-0" id="inscriptionLabel">Inscription</h2>
                                        <!-- Icon Divider-->
                                        <div class="divider-custom">
                                            <div class="divider-custom-line"></div>
                                            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                            <div class="divider-custom-line"></div>
                                        </div>
                                        <!-- Sign - Form-->
                                        <form id="signForm" name="signForm" novalidate="novalidate">
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Nom</label>
                                                    <input class="form-control" id="nameSign" type="text" placeholder="Nom" maxlength="50" required="required" data-validation-required-message="Veuillez renseigner votre nom." />
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Prénom</label>
                                                    <input class="form-control" id="firstNameSign" type="text" placeholder="Prénom" maxlength="50" required="required" data-validation-required-message="Veuillez renseigner votre prénom." />
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Pseudo</label>
                                                    <input class="form-control" id="pseudoSign" type="text" placeholder="Pseudo" maxlength="20" required="required" data-validation-required-message="Veuillez renseigner votre pseudo." />
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Adresse mail</label>
                                                    <input class="form-control" id="emailSign" type="email" placeholder="Adresse mail" required="required" data-validation-required-message="Veuillez renseigner votre adresse mail." data-validation-email-message="L'adresse mail n'est pas valide."/>
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Mot de passe</label>
                                                    <input class="form-control" id="passwordSign" name="passwordSign" type="password" placeholder="Mot de passe"
                                                           required="required"
                                                           data-validation-required-message="Veuillez renseigner votre mot de passe."
                                                           maxlength="20"
                                                           data-validation-maxlength-message="Le mot de passe ne doit pas faire plus de 20 caractères."
                                                           data-validation-regex-regex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                                                           data-validation-regex-message="Le mot de passe doit faire au moins 8 caractère et contenir une majuscule, une minuscule et un chiffre."/>
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                                    <label>Confirmation mot de passe</label>
                                                    <input class="form-control" id="confirmPassword" type="password" placeholder="Confirmation mot de passe" required="required" data-validation-required-message="Veuillez renseigner ce champ." data-validation-matches-match="passwordSign" data-validation-matches-message="Les mot de passes sont différents."/>
                                                    <p class="help-block text-danger"></p>
                                                </div>
                                            </div>
                                            <br />
                                            <div id="signError"></div>
                                            <div class="form-group">
                                                <button
                                                        class="btn btn-primary btn-xl"
                                                        id="signButton"
                                                        type="submit"
                                                >Inscription</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <input type="hidden" id="recaptchaResponse">

        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- ReCaptcha -->
        <script src="https://www.google.com/recaptcha/api.js?render=6LdLhoIaAAAAANgpORt_9N_B3DA4y6WHU4fj3AjD"></script>
        <!-- Custom JS-->
        <script src="js/layout.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
